.player-wrapper {
  width: 100%;
  margin: auto;
  height: 200px;
}

.player-wrapper video {
  object-fit: fill;
}

.player > div > div {
  background: turquoise
    radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) 60%) !important;
}

@media only screen and (min-width: 600px) {
  .player-wrapper {
    height: 300px;
  }
}

@media only screen and (min-width: 768px) {
  .player-wrapper {
    height: 450px;
  }
}

@media only screen and (min-width: 992px) {
  .player-wrapper {
    height: 500px;
  }
}

@media only screen and (min-width: 1200px) {
  .player-wrapper {
    height: 480px;
  }
}
