.footer {
  display: none;
}


@media only screen and (min-width: 992px) {
  .footer {
    display: block;
    background-color: lightsalmon;
    text-align: center;
    padding: 10px;
    color: whitesmoke;
    margin-top: 10px;
  }
  
  .footer svg {
    position: relative;
    top: 3px;
    margin: 0 3px;
  }

}