.timeline-container {
  position: relative;
  width: 100%;
}

.card-container {
  display: flex;
  overflow: auto;
}

.scroll-left-button,
.scroll-right-button {
  position: absolute;
  top: 30%;
  border: none;
  background: none;
}

.scroll-left-button {
  left: 5px;
}

.scroll-right-button {
  right: 5px;
}

.scroll-left-button svg,
.scroll-right-button svg {
  font-size: 1rem;
  color: lightcoral;
  background-color: rebeccapurple;
  border-radius: 50%;
  box-shadow: 1px 1px 2px seashell;
}

.scroll-left-button:hover,
.scroll-right-button:hover {
  cursor: pointer;
  transform: scale(0.9, 0.9);
}

@media only screen and (min-width: 600px) {
  .scroll-left-button svg,
  .scroll-right-button svg {
    font-size: 2rem;
    box-shadow: 3px 3px 3px seashell;
  }
}

@media only screen and (min-width: 768px) {
  .scroll-left-button svg,
  .scroll-right-button svg {
    font-size: 3rem;
  }
}
